.cardsHolder{
    position: relative;
    height: 90vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    margin-top: 30px;
}

.card{
    margin: auto;
    height: auto;
    margin-bottom: 30px;
}

.foot{
    height: 30px;
}

@media screen and (max-width: 1400px) {

    .card{
        margin-bottom: 30px;
    }

}

