@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

html, body{
  height: 100%;
}


.App{
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid pink;
}

.hero{
  width: 70%;
  margin: auto;
}

.title{
  font-family: 'Inter', sans-serif;
  font-size: 80px;
}

.subTitle{
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  align-self: center;
}

.downPointer{
  width: 75px;
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 50px;
  }

  .subTitle{
    font-size: 20px;
  }

  .downPointer{
    width: 50px;
    transform: rotate(180deg); /* Equal to rotateZ(45deg) */
  }

  .customNav{
    z-index: 1;
  }
}

