@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

html, body{
  height: 100%;
}

div{
  height: 100%;
}

.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid pink;
}

.hero{
  width: 70%;
  margin: auto;
}

.title{
  font-family: 'Inter', sans-serif;
  font-size: 80px;
}

.subTitle{
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  align-self: center;
}

.navHolder{
  background-color: pink;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}


.navbar-collapse{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  position: relative;
  right: 0;
}

#offcanvasNavbar-expand-sm{
  font-family: 'Inter', sans-serif;
}

.downPointer{
  width: 75px;
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 50px;
  }

  .subTitle{
    font-size: 20px;
  }

  .downPointer{
    width: 50px;
    transform: rotate(180deg); /* Equal to rotateZ(45deg) */
  }
}

